/* Add screen styles below */
a.active {
    font-weight: bold;
}


html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5 ease-in-out;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2;
    background-color: #caadd3;
    color: #121212;
}

header {
    background-color: #A0D1DD;
    color: #171717;
    padding: 30px 0;
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0.5, 0.5, 0.5, 0.5);
    border: 5px solid #3c92c8;
}

header h1 {
    margin-bottom: 8px;
    letter-spacing: 1px;
    padding-top: 0;
    color: #fff4f4;
    text-shadow: 6px 6px 1px rgba(255, 0, 0, 0.69);
    font-family: fantasy;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header h2 {
    color: #083755;
}

header img {
    padding: 30px;
}

header nav ul {
    position: sticky;
}

nav {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
    gap: 100px;
}

nav a {
    color: #b84b4b;
    margin: 0px 10px;
    text-decoration: underline;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #629cc6;
    background-color: #bcd5db;
    border-radius: 6px;
}

main {
    max-width: 1250px;
    margin: 50px 50px 50px 50px;
    overflow: hidden;
    position: relative;
    background-color: #90c8d6;
    border-radius: 10px;
    padding: 0 25px;
    box-shadow: 5px 5px 20px rgba(0.5, 0.5, 0.5, 0.5);
    border: 5px solid rgb(41, 41, 41);
}

section {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px 15px 23px 15px;
    border-bottom: 2px dotted #626262;
    background-color: #bdd9e0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0.5, 0.5, 0.5, 0.5);
    border: 2px solid #4c4c4c;
}

section form {
    text-align: center;
}

section:hover {
    box-shadow: 3px 8px 25px rgba(2, 2, 2, 2);
    transition: box-shadow 1.0s ease;
}

section blockquote img {
    border: 1px solid black;
    text-align: center;
    margin-left: 465px;
    margin-top: 40px;
}

#james,
#maria,
#brooke {
    text-align: center;
}

h3,
h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

form {
    background-color: #d8e5e8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0.5, 0.5, 0.5, 0.5);
    border-top: 2px solid #454545;
    border-bottom: 2px solid #454545;
    border-right: 2px solid #454545;
    border-left: 2px solid #454545;
    text-align: center;
    max-width: 810px;         
    margin: 0 auto;
    margin-bottom: 22px;
}

label {
    margin-top: 12px;
    font-weight: bold;
    color: #171717;
}

input[type="radio"] {
    margin-right: 5px;
    transform: scale(1.1);
}

footer {
    background-color: #caadd3;
    color: #ffffff;
    text-align: center;
}

input[type="text"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.5s;
    margin-right: 50px;
    background-color: #eadfee;
}

input[type="email"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.5s;
    margin-right: 50px;
    background-color: #eadfee;
}

input[type="date"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.5s;
    margin-right: 50px;
    background-color: #eadfee;
}

select {
    width: 85%;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.5s;
    margin-right: 50px;
    background-color: #eadfee;
}

textarea {
    width: 85%;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.5s;
    margin-right: 50px;
    background-color: #eadfee;
}

input[type="text"]:focus {
    border-color: #242424;
    background-color: #f6f2f8;
    outline: 3px black;
}

input[type="email"]:focus {
    border-color: #242424;
    background-color: #f6f2f8;
    outline: 3px black;
}

input[type="date"]:focus {
    border-color: #242424;
    background-color: #f6f2f8;
    outline: 3px black;
}

select:focus {
    border-color: #242424;
    background-color: #f6f2f8;
    outline: 3px black;
}

textarea:focus {
    border-color: #242424;
    background-color: #f6f2f8;
    outline: 3px black;
}

