/* Add screen styles below */
a.active {
    font-weight: bold;
}


html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5 ease-in-out;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
  background-color: #A0D1DD;
  color: #121212;
}

header {
  background-color: #A0D1DD;
  color: #171717;
  padding: 30px 0;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0.5, 0.5, 0.5, 0.5);
  border-bottom: 5px solid #4D9FD2;
}

